openapi: 3.0.1
info:
  title: Swagger Saxo Bank openapi
  description: Saxo Bank openapi for trading
  version: 1.0.0
servers:
- url: https://gateway.saxobank.com/sim
- url: https://gateway.saxobank.com
security:
- openapi_auth: []
paths:
  /openapi/at/v3/investments:
    post:
      tags:
      - AutoTrading
      operationId: PostInvestment
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/body'
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
                properties: {}
                example: {}
                x-content-type: application/json
        "201":
          content:
            application/json:
              schema:
                type: object
                properties: {}
                x-content-type: application/json
        "204":
          description: The resource was deleted successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
  /openapi/at/v3/investments/:
    get:
      tags:
      - AutoTrading
      operationId: GetInvestmentByLeader
      parameters:
      - name: InvestmentId
        in: query
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: TradeLeaderId
        in: query
        required: true
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
                properties: {}
                example: {}
                x-content-type: application/json
        "201":
          content:
            application/json:
              schema:
                type: object
                properties: {}
                x-content-type: application/json
        "204":
          description: The resource was deleted successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
  /openapi/at/v3/investments/{InvestmentId}:
    patch:
      tags:
      - AutoTrading
      operationId: PatchInvestmentAsync
      parameters:
      - name: InvestmentId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/body_1'
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
                properties: {}
                example: {}
                x-content-type: application/json
        "201":
          content:
            application/json:
              schema:
                type: object
                properties: {}
                x-content-type: application/json
        "204":
          description: The resource was deleted successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
  /openapi/at/v3/investments/{InvestmentId}/maxWithdrawalAmount/:
    get:
      tags:
      - AutoTrading
      operationId: GetMaxWithdrawalAmountAsync
      parameters:
      - name: InvestmentId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: TargetAccountId
        in: query
        required: true
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
                properties: {}
                example: {}
                x-content-type: application/json
        "201":
          content:
            application/json:
              schema:
                type: object
                properties: {}
                x-content-type: application/json
        "204":
          description: The resource was deleted successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
  /openapi/at/v3/investments/{InvestmentId}/withdraw:
    put:
      tags:
      - AutoTrading
      operationId: PutInvestmentAsync
      parameters:
      - name: InvestmentId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/body_2'
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
                properties: {}
                example: {}
                x-content-type: application/json
        "201":
          content:
            application/json:
              schema:
                type: object
                properties: {}
                x-content-type: application/json
        "204":
          description: The resource was deleted successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
  /openapi/at/v3/investments/me/:
    get:
      tags:
      - AutoTrading
      operationId: GetInvestments
      parameters:
      - name: TradeLeaderId
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
                properties: {}
                example: {}
                x-content-type: application/json
        "201":
          content:
            application/json:
              schema:
                type: object
                properties: {}
                x-content-type: application/json
        "204":
          description: The resource was deleted successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
  /openapi/at/v3/investments/subscriptions:
    post:
      tags:
      - AutoTrading
      operationId: AddSubscription
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/body_3'
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
                properties: {}
                example: {}
                x-content-type: application/json
        "201":
          content:
            application/json:
              schema:
                type: object
                properties: {}
                x-content-type: application/json
        "204":
          description: The resource was deleted successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
  /openapi/at/v3/investments/subscriptions/{ContextId}/{ReferenceId}:
    delete:
      tags:
      - AutoTrading
      operationId: DeleteSubscription
      parameters:
      - name: ContextId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: ReferenceId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
                properties: {}
                example: {}
                x-content-type: application/json
        "201":
          content:
            application/json:
              schema:
                type: object
                properties: {}
                x-content-type: application/json
        "204":
          description: The resource was deleted successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
  /openapi/at/v3/investments/subscriptions/suggestions:
    post:
      tags:
      - AutoTrading
      operationId: AddSuggestionSubscriptionAsync
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/body_4'
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
                properties: {}
                example: {}
                x-content-type: application/json
        "201":
          content:
            application/json:
              schema:
                type: object
                properties: {}
                x-content-type: application/json
        "204":
          description: The resource was deleted successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
  /openapi/at/v3/investments/subscriptions/suggestions/{ContextId}/{ReferenceId}:
    delete:
      tags:
      - AutoTrading
      operationId: DeleteSuggestionSubscription
      parameters:
      - name: ContextId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: ReferenceId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
                properties: {}
                example: {}
                x-content-type: application/json
        "201":
          content:
            application/json:
              schema:
                type: object
                properties: {}
                x-content-type: application/json
        "204":
          description: The resource was deleted successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
  /openapi/at/v3/investments/summaries:
    get:
      tags:
      - AutoTrading
      operationId: GetInvestmentsummariesAsync
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
                properties: {}
                example: {}
                x-content-type: application/json
        "201":
          content:
            application/json:
              schema:
                type: object
                properties: {}
                x-content-type: application/json
        "204":
          description: The resource was deleted successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
  /openapi/at/v3/tradeFollowers/{ClientKey}/suitabilitystatus:
    get:
      tags:
      - AutoTrading
      operationId: GetSuitabilityStatus
      parameters:
      - name: ClientKey
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
                properties: {}
                example: {}
                x-content-type: application/json
        "201":
          content:
            application/json:
              schema:
                type: object
                properties: {}
                x-content-type: application/json
        "204":
          description: The resource was deleted successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
    put:
      tags:
      - AutoTrading
      operationId: PutSuitabilityStatus
      parameters:
      - name: ClientKey
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/body_5'
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
                properties: {}
                example: {}
                x-content-type: application/json
        "201":
          content:
            application/json:
              schema:
                type: object
                properties: {}
                x-content-type: application/json
        "204":
          description: The resource was deleted successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
  /openapi/at/v3/tradeFollowers/{ClientKey}/termsandconditions:
    get:
      tags:
      - AutoTrading
      operationId: GetTermsAndConditions
      parameters:
      - name: ClientKey
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
                properties: {}
                example: {}
                x-content-type: application/json
        "201":
          content:
            application/json:
              schema:
                type: object
                properties: {}
                x-content-type: application/json
        "204":
          description: The resource was deleted successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
    put:
      tags:
      - AutoTrading
      operationId: PutClientTermsAndConditions
      parameters:
      - name: ClientKey
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/body_6'
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
                properties: {}
                example: {}
                x-content-type: application/json
        "201":
          content:
            application/json:
              schema:
                type: object
                properties: {}
                x-content-type: application/json
        "204":
          description: The resource was deleted successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
  /openapi/at/v3/tradeFollowers/me:
    get:
      tags:
      - AutoTrading
      operationId: GetTradeFollowers
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
                properties: {}
                example: {}
                x-content-type: application/json
        "201":
          content:
            application/json:
              schema:
                type: object
                properties: {}
                x-content-type: application/json
        "204":
          description: The resource was deleted successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
  /openapi/at/v3/tradeLeaders/:
    get:
      tags:
      - AutoTrading
      operationId: GetAllTradeLeaders
      parameters:
      - name: StandardPeriod
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - AllTime
            - Month
            - Quarter
            - Year
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
                properties: {}
                example: {}
                x-content-type: application/json
        "201":
          content:
            application/json:
              schema:
                type: object
                properties: {}
                x-content-type: application/json
        "204":
          description: The resource was deleted successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
  /openapi/at/v3/tradeLeaders/{TradeLeaderId}/:
    get:
      tags:
      - AutoTrading
      operationId: GetTradeLeader
      parameters:
      - name: StandardPeriod
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - AllTime
            - Month
            - Quarter
            - Year
      - name: TradeLeaderId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
                properties: {}
                example: {}
                x-content-type: application/json
        "201":
          content:
            application/json:
              schema:
                type: object
                properties: {}
                x-content-type: application/json
        "204":
          description: The resource was deleted successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
  /openapi/at/v3/tradeLeaders/{TradeLeaderId}/logo:
    get:
      tags:
      - AutoTrading
      operationId: GetTradeLeaderLogo
      parameters:
      - name: TradeLeaderId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
                properties: {}
                example: {}
                x-content-type: application/json
        "201":
          content:
            application/json:
              schema:
                type: object
                properties: {}
                x-content-type: application/json
        "204":
          description: The resource was deleted successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
  /openapi/at/v3/tradeLeaders/logo/{LogoKey}:
    get:
      tags:
      - AutoTrading
      operationId: GetTradeLeaderLogoByLogoKey
      parameters:
      - name: LogoKey
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
                properties: {}
                example: {}
                x-content-type: application/json
        "201":
          content:
            application/json:
              schema:
                type: object
                properties: {}
                x-content-type: application/json
        "204":
          description: The resource was deleted successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
  /openapi/at/v3/tradeLeaders/public:
    post:
      tags:
      - AutoTrading
      operationId: GetAllTradeLeadersPublic
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/body_7'
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
                properties: {}
                example: {}
                x-content-type: application/json
        "201":
          content:
            application/json:
              schema:
                type: object
                properties: {}
                x-content-type: application/json
        "204":
          description: The resource was deleted successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
  /openapi/at/v3/tradeLeaders/public/{TradeLeaderId}:
    post:
      tags:
      - AutoTrading
      operationId: GetTradeLeaderPublic
      parameters:
      - name: TradeLeaderId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/body_8'
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
                properties: {}
                example: {}
                x-content-type: application/json
        "201":
          content:
            application/json:
              schema:
                type: object
                properties: {}
                x-content-type: application/json
        "204":
          description: The resource was deleted successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
  /openapi/at/v3/tradeLeaders/public/customselection/{SelectionId}/:
    get:
      tags:
      - AutoTrading
      operationId: GetTradeLeadersCustomSelectionPublic
      parameters:
      - name: SelectionId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: StandardPeriod
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - AllTime
            - Month
            - Quarter
            - Year
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
                properties: {}
                example: {}
                x-content-type: application/json
        "201":
          content:
            application/json:
              schema:
                type: object
                properties: {}
                x-content-type: application/json
        "204":
          description: The resource was deleted successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
  /openapi/atr/v1/partner/cashtransfers:
    post:
      tags:
      - AssetTransfers
      operationId: CashTransfer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/body_9'
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
                properties: {}
                example: {}
                x-content-type: application/json
        "201":
          content:
            application/json:
              schema:
                type: object
                properties: {}
                x-content-type: application/json
        "204":
          description: The resource was deleted successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
  /openapi/atr/v1/partner/cashtransfers/:
    get:
      tags:
      - AssetTransfers
      operationId: CashTransfersBySearchParameters
      parameters:
      - name: AccountKey
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: ClientKey
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: ExternalReference
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: FromDateTime
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: SkipToken
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: ToDateTime
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: Top
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
                properties: {}
                example: {}
                x-content-type: application/json
        "201":
          content:
            application/json:
              schema:
                type: object
                properties: {}
                x-content-type: application/json
        "204":
          description: The resource was deleted successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
  /openapi/atr/v1/partner/cashtransfers/{TransactionId}:
    get:
      tags:
      - AssetTransfers
      operationId: CashTransfersById
      parameters:
      - name: TransactionId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
                properties: {}
                example: {}
                x-content-type: application/json
        "201":
          content:
            application/json:
              schema:
                type: object
                properties: {}
                x-content-type: application/json
        "204":
          description: The resource was deleted successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
  /openapi/atr/v1/partner/prebookedfunds:
    post:
      tags:
      - AssetTransfers
      operationId: PrebookFundDeposit
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/body_10'
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
                properties: {}
                example: {}
                x-content-type: application/json
        "201":
          content:
            application/json:
              schema:
                type: object
                properties: {}
                x-content-type: application/json
        "204":
          description: The resource was deleted successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
  /openapi/chart/v1/charts/:
    get:
      tags:
      - Charts
      operationId: GetChartDataAsync
      parameters:
      - name: AssetType
        in: query
        required: true
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - Bond
            - Cash
            - CfdIndexOption
            - CfdOnFutures
            - CfdOnIndex
            - CfdOnStock
            - ContractFutures
            - FuturesOption
            - FuturesStrategy
            - FxBinaryOption
            - FxForwards
            - FxKnockInOption
            - FxKnockOutOption
            - FxNoTouchOption
            - FxOneTouchOption
            - FxSpot
            - FxVanillaOption
            - IpoOnStock
            - ManagedFund
            - MutualFund
            - Stock
            - StockIndex
            - StockIndexOption
            - StockOption
      - name: Count
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: FieldGroups
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - BlockInfo
            - ChartInfo
            - Data
            - DisplayAndFormat
      - name: Horizon
        in: query
        required: true
        style: form
        explode: true
        schema:
          type: integer
      - name: Mode
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - From
            - UpTo
      - name: Time
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: Uic
        in: query
        required: true
        style: form
        explode: true
        schema:
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
                properties: {}
                example: {}
                x-content-type: application/json
        "201":
          content:
            application/json:
              schema:
                type: object
                properties: {}
                x-content-type: application/json
        "204":
          description: The resource was deleted successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
  /openapi/chart/v1/charts/subscriptions:
    post:
      tags:
      - Charts
      operationId: AddSubscriptionAsync
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/body_11'
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
                properties: {}
                example: {}
                x-content-type: application/json
        "201":
          content:
            application/json:
              schema:
                type: object
                properties: {}
                x-content-type: application/json
        "204":
          description: The resource was deleted successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
  /openapi/chart/v1/charts/subscriptions/{ContextId}/:
    delete:
      tags:
      - Charts
      operationId: DeleteSubscriptions
      parameters:
      - name: ContextId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Tag
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
                properties: {}
                example: {}
                x-content-type: application/json
        "201":
          content:
            application/json:
              schema:
                type: object
                properties: {}
                x-content-type: application/json
        "204":
          description: The resource was deleted successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
  /openapi/chart/v1/charts/subscriptions/{ContextId}/{ReferenceId}:
    delete:
      tags:
      - Charts
      operationId: DeleteSubscription_Charts
      parameters:
      - name: ContextId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: ReferenceId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
                properties: {}
                example: {}
                x-content-type: application/json
        "201":
          content:
            application/json:
              schema:
                type: object
                properties: {}
                x-content-type: application/json
        "204":
          description: The resource was deleted successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
  /openapi/cm/v1/clientrenewals/:
    get:
      tags:
      - ClientManagement
      operationId: GetClientRenewalData
      parameters:
      - name: ClientKey
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
                properties: {}
                example: {}
                x-content-type: application/json
        "201":
          content:
            application/json:
              schema:
                type: object
                properties: {}
                x-content-type: application/json
        "204":
          description: The resource was deleted successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
  /openapi/cm/v1/clientrenewals/{RenewalEntityId}:
    patch:
      tags:
      - ClientManagement
      operationId: UpdateClientRenewalData
      parameters:
      - name: RenewalEntityId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/body_12'
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
                properties: {}
                example: {}
                x-content-type: application/json
        "201":
          content:
            application/json:
              schema:
                type: object
                properties: {}
                x-content-type: application/json
        "204":
          description: The resource was deleted successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
  /openapi/cm/v1/clientrenewals/pending/:
    get:
      tags:
      - ClientManagement
      operationId: GetRenewalStatuses
      parameters:
      - name: $skip
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: $top
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: MustRenewBy
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: OwnerKey
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
                properties: {}
                example: {}
                x-content-type: application/json
        "201":
          content:
            application/json:
              schema:
                type: object
                properties: {}
                x-content-type: application/json
        "204":
          description: The resource was deleted successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
  /openapi/cm/v1/signups/:
    post:
      tags:
      - ClientManagement
      operationId: SignUp
      parameters:
      - name: OwnerKey
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/body_13'
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
                properties: {}
                example: {}
                x-content-type: application/json
        "201":
          content:
            application/json:
              schema:
                type: object
                properties: {}
                x-content-type: application/json
        "204":
          description: The resource was deleted successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
  /openapi/cm/v1/signups/attachments/{SignUpId}/:
    post:
      tags:
      - ClientManagement
      operationId: AttachFile_ClientManagement
      parameters:
      - name: DocumentType
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - AccountViewToIb
            - EsaContract
            - FeePaymentAuthorization
            - GeneralBusinessTerms
            - PensionTransferRequest
            - PowerOfAttorney
            - PowerOfAttorneyToIb
            - ProofOfIdentity
            - ProofOfResidency
            - SourceOfFundsDocument
            - TermsAndConditions
            - TermsAndConditionsAldersopsparingPrivate
            - TermsAndConditionsKapitalPensionPrivate
            - TermsAndConditionsRatePensionPrivate
      - name: RenewalDate
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: SignUpId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Title
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
                properties: {}
                example: {}
                x-content-type: application/json
        "201":
          content:
            application/json:
              schema:
                type: object
                properties: {}
                x-content-type: application/json
        "204":
          description: The resource was deleted successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
  /openapi/cm/v1/signups/completeapplication/{SignUpId}/:
    put:
      tags:
      - ClientManagement
      operationId: CompleteApplication
      parameters:
      - name: AwaitAccountCreation
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: SignUpId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
                properties: {}
                example: {}
                x-content-type: application/json
        "201":
          content:
            application/json:
              schema:
                type: object
                properties: {}
                x-content-type: application/json
        "204":
          description: The resource was deleted successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
  /openapi/cm/v1/signups/onboardingpdf/{ClientKey}/:
    get:
      tags:
      - ClientManagement
      operationId: GenerateTypedOnboardingPDF
      parameters:
      - name: ClientKey
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: DocumentType
        in: query
        required: true
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - Switzerland501
            - Switzerland901
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
                properties: {}
                example: {}
                x-content-type: application/json
        "201":
          content:
            application/json:
              schema:
                type: object
                properties: {}
                x-content-type: application/json
        "204":
          description: The resource was deleted successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
  /openapi/cm/v1/signups/options:
    get:
      tags:
      - ClientManagement
      operationId: GetSignupOptions_ClientManagement
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
                properties: {}
                example: {}
                x-content-type: application/json
        "201":
          content:
            application/json:
              schema:
                type: object
                properties: {}
                x-content-type: application/json
        "204":
          description: The resource was deleted successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
  /openapi/cm/v1/signups/status/{ClientKey}:
    get:
      tags:
      - ClientManagement
      operationId: GetSignUpStatus
      parameters:
      - name: ClientKey
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
                properties: {}
                example: {}
                x-content-type: application/json
        "201":
          content:
            application/json:
              schema:
                type: object
                properties: {}
                x-content-type: application/json
        "204":
          description: The resource was deleted successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
  /openapi/cm/v1/signups/verification/initiate/{ClientKey}:
    post:
      tags:
      - ClientManagement
      operationId: InitiateVerification
      parameters:
      - name: ClientKey
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/body_14'
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
                properties: {}
                example: {}
                x-content-type: application/json
        "201":
          content:
            application/json:
              schema:
                type: object
                properties: {}
                x-content-type: application/json
        "204":
          description: The resource was deleted successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
  /openapi/cm/v1/users/resetpasswordrequest:
    post:
      tags:
      - ClientManagement
      operationId: ResetPassword
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/body_15'
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
                properties: {}
                example: {}
                x-content-type: application/json
        "201":
          content:
            application/json:
              schema:
                type: object
                properties: {}
                x-content-type: application/json
        "204":
          description: The resource was deleted successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
  /openapi/cm/v2/signups/attachments/{SignUpId}:
    post:
      tags:
      - ClientManagement
      operationId: AttachFile
      parameters:
      - name: SignUpId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/body_16'
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
                properties: {}
                example: {}
                x-content-type: application/json
        "201":
          content:
            application/json:
              schema:
                type: object
                properties: {}
                x-content-type: application/json
        "204":
          description: The resource was deleted successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
  /openapi/cm/v2/signups/options:
    get:
      tags:
      - ClientManagement
      operationId: GetSignupOptions
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
                properties: {}
                example: {}
                x-content-type: application/json
        "201":
          content:
            application/json:
              schema:
                type: object
                properties: {}
                x-content-type: application/json
        "204":
          description: The resource was deleted successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
  /openapi/cr/v1/reports/AccountStatement/{ClientKey}/:
    get:
      tags:
      - ClientReporting
      operationId: GetAsync
      parameters:
      - name: AccountGroupKey
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: AccountKey
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: ClientKey
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: FromDate
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: ToDate
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
                properties: {}
                example: {}
                x-content-type: application/json
        "201":
          content:
            application/json:
              schema:
                type: object
                properties: {}
                x-content-type: application/json
        "204":
          description: The resource was deleted successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
  /openapi/cr/v1/reports/AccountStatement/me/:
    get:
      tags:
      - ClientReporting
      operationId: GetMeAsync
      parameters:
      - name: AccountGroupKey
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: AccountKey
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: FromDate
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: ToDate
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
                properties: {}
                example: {}
                x-content-type: application/json
        "201":
          content:
            application/json:
              schema:
                type: object
                properties: {}
                x-content-type: application/json
        "204":
          description: The resource was deleted successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
  /openapi/cr/v1/reports/Portfolio/{ClientKey}/{FromDate}/{ToDate}/:
    get:
      tags:
      - ClientReporting
      operationId: GetAsync_ClientReporting
      parameters:
      - name: AccountGroupKey
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: AccountKey
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: ClientKey
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: FromDate
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: ToDate
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
                properties: {}
                example: {}
                x-content-type: application/json
        "201":
          content:
            application/json:
              schema:
                type: object
                properties: {}
                x-content-type: application/json
        "204":
          description: The resource was deleted successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
  /openapi/cr/v1/reports/Portfolio/me/{FromDate}/{ToDate}/:
    get:
      tags:
      - ClientReporting
      operationId: GetMeAsync_ClientReporting
      parameters:
      - name: AccountGroupKey
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: AccountKey
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: FromDate
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: ToDate
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
                properties: {}
                example: {}
                x-content-type: application/json
        "201":
          content:
            application/json:
              schema:
                type: object
                properties: {}
                x-content-type: application/json
        "204":
          description: The resource was deleted successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
  /openapi/cr/v1/reports/TradeDetails/{ClientKey}/:
    get:
      tags:
      - ClientReporting
      operationId: GetAsync_ClientReporting3
      parameters:
      - name: AccountKey
        in: query
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: ClientKey
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: FilterType
        in: query
        required: true
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - BkAmountId
            - CaMasterRecordId
            - RelatedTradeId
      - name: FilterValue
        in: query
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: TradeId
        in: query
        required: true
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
                properties: {}
                example: {}
                x-content-type: application/json
        "201":
          content:
            application/json:
              schema:
                type: object
                properties: {}
                x-content-type: application/json
        "204":
          description: The resource was deleted successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
  /openapi/cr/v1/reports/TradeDetails/me/:
    get:
      tags:
      - ClientReporting
      operationId: GetMeAsync_ClientReporting3
      parameters:
      - name: AccountKey
        in: query
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: FilterType
        in: query
        required: true
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - BkAmountId
            - CaMasterRecordId
            - RelatedTradeId
      - name: FilterValue
        in: query
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: TradeId
        in: query
        required: true
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
                properties: {}
                example: {}
                x-content-type: application/json
        "201":
          content:
            application/json:
              schema:
                type: object
                properties: {}
                x-content-type: application/json
        "204":
          description: The resource was deleted successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
  /openapi/cr/v1/reports/TradesExecuted/{ClientKey}/:
    get:
      tags:
      - ClientReporting
      operationId: GetAsync_ClientReporting4
      parameters:
      - name: AccountGroupKey
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: AccountKey
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: ClientKey
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: FromDate
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: ToDate
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
                properties: {}
                example: {}
                x-content-type: application/json
        "201":
          content:
            application/json:
              schema:
                type: object
                properties: {}
                x-content-type: application/json
        "204":
          description: The resource was deleted successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
  /openapi/cr/v1/reports/TradesExecuted/me/:
    get:
      tags:
      - ClientReporting
      operationId: GetMeAsync_ClientReporting4
      parameters:
      - name: AccountGroupKey
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: AccountKey
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: FromDate
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: ToDate
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
                properties: {}
                example: {}
                x-content-type: application/json
        "201":
          content:
            application/json:
              schema:
                type: object
                properties: {}
                x-content-type: application/json
        "204":
          description: The resource was deleted successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
  /openapi/cs/v1/audit/activities/:
    get:
      tags:
      - ClientServices
      operationId: Get
      parameters:
      - name: $skiptoken
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: $top
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: AccountKey
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: ClientKey
        in: query
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: CorrelationKey
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: From
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: LogEntryTypes
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - Corrections
            - DisclaimerActions
            - NonTradingActivity
            - Notifications
            - OrderActivity
            - Orders
            - TradeActivity
            - Trades
      - name: PostingId
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: To
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
                properties: {}
                example: {}
                x-content-type: application/json
        "201":
          content:
            application/json:
              schema:
                type: object
                properties: {}
                x-content-type: application/json
        "204":
          description: The resource was deleted successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
  /openapi/cs/v1/audit/orderactivities/:
    get:
      tags:
      - ClientServices
      operationId: GetOrderStatesAsync
      parameters:
      - name: $skiptoken
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: $top
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: AccountKey
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: ClientKey
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: CorrelationKey
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: EntryType
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - All
            - Last
      - name: FieldGroups
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - DisplayAndFormat
      - name: FromDateTime
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: IncludeSubAccounts
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: OrderId
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: Status
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - Cancelled
            - Changed
            - DoneForDay
            - Expired
            - Fill
            - FinalFill
            - Placed
            - Working
      - name: ToDateTime
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
                properties: {}
                example: {}
                x-content-type: application/json
        "201":
          content:
            application/json:
              schema:
                type: object
                properties: {}
                x-content-type: application/json
        "204":
          description: The resource was deleted successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
  /openapi/cs/v1/partner/support/cases:
    post:
      tags:
      - ClientServices
      operationId: CreateCase
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/body_17'
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
                properties: {}
                example: {}
                x-content-type: application/json
        "201":
          content:
            application/json:
              schema:
                type: object
                properties: {}
                x-content-type: application/json
        "204":
          description: The resource was deleted successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
  /openapi/cs/v1/partner/support/cases/:
    get:
      tags:
      - ClientServices
      operationId: GetCases
      parameters:
      - name: $top
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: FromDateTime
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: Status
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - Canceled
            - InformationProvided
            - ProblemSolved
      - name: ToDateTime
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
                properties: {}
                example: {}
                x-content-type: application/json
        "201":
          content:
            application/json:
              schema:
                type: object
                properties: {}
                x-content-type: application/json
        "204":
          description: The resource was deleted successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
  /openapi/cs/v1/partner/support/cases/{CaseId}:
    get:
      tags:
      - ClientServices
      operationId: GetCase
      parameters:
      - name: CaseId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
                properties: {}
                example: {}
                x-content-type: application/json
        "201":
          content:
            application/json:
              schema:
                type: object
                properties: {}
                x-content-type: application/json
        "204":
          description: The resource was deleted successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
    patch:
      tags:
      - ClientServices
      operationId: UpdateNote
      parameters:
      - name: CaseId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/body_18'
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
                properties: {}
                example: {}
                x-content-type: application/json
        "201":
          content:
            application/json:
              schema:
                type: object
                properties: {}
                x-content-type: application/json
        "204":
          description: The resource was deleted successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
  /openapi/cs/v1/partner/support/cases/{CaseId}/caseclose:
    put:
      tags:
      - ClientServices
      operationId: CloseCase
      parameters:
      - name: CaseId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/body_19'
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
                properties: {}
                example: {}
                x-content-type: application/json
        "201":
          content:
            application/json:
              schema:
                type: object
                properties: {}
                x-content-type: application/json
        "204":
          description: The resource was deleted successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
  /openapi/cs/v1/partner/support/cases/{CaseId}/internalcomment:
    post:
      tags:
      - ClientServices
      operationId: CreateInternalComment
      parameters:
      - name: CaseId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/body_20'
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
                properties: {}
                example: {}
                x-content-type: application/json
        "201":
          content:
            application/json:
              schema:
                type: object
                properties: {}
                x-content-type: application/json
        "204":
          description: The resource was deleted successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
  /openapi/cs/v1/partner/support/cases/{CaseId}/note:
    post:
      tags:
      - ClientServices
      operationId: CreateNote
      parameters:
      - name: CaseId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/body_21'
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
                properties: {}
                example: {}
                x-content-type: application/json
        "201":
          content:
            application/json:
              schema:
                type: object
                properties: {}
                x-content-type: application/json
        "204":
          description: The resource was deleted successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
  /openapi/cs/v1/reports/aggregatedAmounts/{ClientKey}/{FromDate}/{ToDate}/:
    get:
      tags:
      - ClientServices
      operationId: Get_ClientServices3
      parameters:
      - name: $skip
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: $skiptoken
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: $top
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: AccountGroupKey
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: AccountKey
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: ClientKey
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: FromDate
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: MockDataId
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: ToDate
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
                properties: {}
                example: {}
                x-content-type: application/json
        "201":
          content:
            application/json:
              schema:
                type: object
                properties: {}
                x-content-type: application/json
        "204":
          description: The resource was deleted successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
  /openapi/cs/v1/reports/bookings/{ClientKey}/:
    get:
      tags:
      - ClientServices
      operationId: Get_ClientServices4
      parameters:
      - name: $skip
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: $skiptoken
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: $top
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: AccountGroupKey
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: AccountKey
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: ClientKey
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: FilterType
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - BkAmountId
            - CaMasterRecordId
            - RelatedTradeId
      - name: FilterValue
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: FromDate
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: MockDataId
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: ToDate
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
                properties: {}
                example: {}
                x-content-type: application/json
        "201":
          content:
            application/json:
              schema:
                type: object
                properties: {}
                x-content-type: application/json
        "204":
          description: The resource was deleted successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
  /openapi/cs/v1/reports/closedPositions/{ClientKey}/{FromDate}/{ToDate}/:
    get:
      tags:
      - ClientServices
      operationId: Get_ClientServices5
      parameters:
      - name: $skip
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: $top
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: AccountGroupKey
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: AccountKey
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: ClientKey
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: FromDate
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: ToDate
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
                properties: {}
                example: {}
                x-content-type: application/json
        "201":
          content:
            application/json:
              schema:
                type: object
                properties: {}
                x-content-type: application/json
        "204":
          description: The resource was deleted successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
  /openapi/cs/v1/reports/trades/{ClientKey}/:
    get:
      tags:
      - ClientServices
      operationId: GetDetailsAsync
      parameters:
      - name: $skip
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: $skiptoken
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: $top
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: AccountGroupKey
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: AccountKey
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: ClientKey
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: FromDate
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: MockDataId
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: ToDate
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: TradeId
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
                properties: {}
                example: {}
                x-content-type: application/json
        "201":
          content:
            application/json:
              schema:
                type: object
                properties: {}
                x-content-type: application/json
        "204":
          description: The resource was deleted successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
  /openapi/cs/v1/tradingconditions/ContractOptionSpaces/{AccountKey}/{OptionRootId}/:
    get:
      tags:
      - ClientServices
      operationId: GetForContractOption
      parameters:
      - name: AccountKey
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: FieldGroups
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - ScheduledTradingConditions
      - name: OptionRootId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
                properties: {}
                example: {}
                x-content-type: application/json
        "201":
          content:
            application/json:
              schema:
                type: object
                properties: {}
                x-content-type: application/json
        "204":
          description: The resource was deleted successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
  /openapi/cs/v1/tradingconditions/cost/{AccountKey}/{Uic}/{AssetType}/:
    get:
      tags:
      - ClientServices
      operationId: GetTradingConditionCost
      parameters:
      - name: AccountKey
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Amount
        in: query
        required: true
        style: form
        explode: true
        schema:
          type: number
      - name: AssetType
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - Bond
            - Cash
            - CfdIndexOption
            - CfdOnFutures
            - CfdOnIndex
            - CfdOnStock
            - ContractFutures
            - FuturesOption
            - FuturesStrategy
            - FxBinaryOption
            - FxForwards
            - FxKnockInOption
            - FxKnockOutOption
            - FxNoTouchOption
            - FxOneTouchOption
            - FxSpot
            - FxVanillaOption
            - IpoOnStock
            - ManagedFund
            - MutualFund
            - Stock
            - StockIndex
            - StockIndexOption
            - StockOption
      - name: FieldGroups
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: HoldingPeriodInDays
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: Price
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: number
      - name: Uic
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
                properties: {}
                example: {}
                x-content-type: application/json
        "201":
          content:
            application/json:
              schema:
                type: object
                properties: {}
                x-content-type: application/json
        "204":
          description: The resource was deleted successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
  /openapi/cs/v1/tradingconditions/instrument/{AccountKey}/{Uic}/{AssetType}/:
    get:
      tags:
      - ClientServices
      operationId: GetForInstrument
      parameters:
      - name: AccountKey
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: AssetType
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - Bond
            - Cash
            - CfdIndexOption
            - CfdOnFutures
            - CfdOnIndex
            - CfdOnStock
            - ContractFutures
            - FuturesOption
            - FuturesStrategy
            - FxBinaryOption
            - FxForwards
            - FxKnockInOption
            - FxKnockOutOption
            - FxNoTouchOption
            - FxOneTouchOption
            - FxSpot
            - FxVanillaOption
            - IpoOnStock
            - ManagedFund
            - MutualFund
            - Stock
            - StockIndex
            - StockIndexOption
            - StockOption
      - name: FieldGroups
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - ScheduledTradingConditions
      - name: Uic
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
                properties: {}
                example: {}
                x-content-type: application/json
        "201":
          content:
            application/json:
              schema:
                type: object
                properties: {}
                x-content-type: application/json
        "204":
          description: The resource was deleted successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
  /openapi/cs/v2/cashmanagement/interaccounttransfers:
    post:
      tags:
      - ClientServices
      operationId: Transfer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/body_22'
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
                properties: {}
                example: {}
                x-content-type: application/json
        "201":
          content:
            application/json:
              schema:
                type: object
                properties: {}
                x-content-type: application/json
        "204":
          description: The resource was deleted successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
  /openapi/cs/v2/cashmanagement/wiretransfers/instructions/:
    get:
      tags:
      - ClientServices
      operationId: Get_ClientServices
      parameters:
      - name: AccountKey
        in: query
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: ClientKey
        in: query
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: CurrencyCode
        in: query
        required: true
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
                properties: {}
                example: {}
                x-content-type: application/json
        "201":
          content:
            application/json:
              schema:
                type: object
                properties: {}
                x-content-type: application/json
        "204":
          description: The resource was deleted successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
  /openapi/cs/v2/cashmanagement/withdrawals/WithdrawIBanSwift:
    post:
      tags:
      - ClientServices
      operationId: WithdrawIBanSwift
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/body_23'
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
                properties: {}
                example: {}
                x-content-type: application/json
        "201":
          content:
            application/json:
              schema:
                type: object
                properties: {}
                x-content-type: application/json
        "204":
          description: The resource was deleted successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
  /openapi/cs/v2/cashmanagement/withdrawals/WithdrawalAccountNumberBeneficiaryBank:
    post:
      tags:
      - ClientServices
      operationId: WithdrawalAccountNumberBeneficiaryBank
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/body_24'
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
                properties: {}
                example: {}
                x-content-type: application/json
        "201":
          content:
            application/json:
              schema:
                type: object
                properties: {}
                x-content-type: application/json
        "204":
          description: The resource was deleted successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
  /openapi/cs/v2/cashmanagement/withdrawals/WithdrawalAccountNumberSwift:
    post:
      tags:
      - ClientServices
      operationId: WithdrawalAccountNumberSwift
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/body_25'
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
                properties: {}
                example: {}
                x-content-type: application/json
        "201":
          content:
            application/json:
              schema:
                type: object
                properties: {}
                x-content-type: application/json
        "204":
          description: The resource was deleted successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
  /openapi/cs/v2/cashmanagement/withdrawals/WithdrawalIbanBeneficiaryBank:
    post:
      tags:
      - ClientServices
      operationId: WithdrawalIBanBeneficiaryBank
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/body_26'
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
                properties: {}
                example: {}
                x-content-type: application/json
        "201":
          content:
            application/json:
              schema:
                type: object
                properties: {}
                x-content-type: application/json
        "204":
          description: The resource was deleted successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
  /openapi/cs/v2/clientinfo/clients/search/:
    post:
      tags:
      - ClientServices
      operationId: Search
      parameters:
      - name: $inlinecount
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - AllPages
            - None
      - name: $skip
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: $top
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/body_27'
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
                properties: {}
                example: {}
                x-content-type: application/json
        "201":
          content:
            application/json:
              schema:
                type: object
                properties: {}
                x-content-type: application/json
        "204":
          description: The resource was deleted successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
  /openapi/developer/apps:
    post:
      tags:
      - Developer
      operationId: CreateApp
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/body_28'
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
                properties: {}
                example: {}
                x-content-type: application/json
        "201":
          content:
            application/json:
              schema:
                type: object
                properties: {}
                x-content-type: application/json
        "204":
          description: The resource was deleted successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
  /openapi/developer/apps/:
    get:
      tags:
      - Developer
      operationId: GetApps
      parameters:
      - name: $inlinecount
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - AllPages
            - None
      - name: $skip
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: $top
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
                properties: {}
                example: {}
                x-content-type: application/json
        "201":
          content:
            application/json:
              schema:
                type: object
                properties: {}
                x-content-type: application/json
        "204":
          description: The resource was deleted successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
  /openapi/developer/apps/{AppKey}:
    get:
      tags:
      - Developer
      operationId: GetAppByAppKey
      parameters:
      - name: AppKey
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
                properties: {}
                example: {}
                x-content-type: application/json
        "201":
          content:
            application/json:
              schema:
                type: object
                properties: {}
                x-content-type: application/json
        "204":
          description: The resource was deleted successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
    delete:
      tags:
[...]
